%table.pow_list
  %thead
    %tr
      %th app
      %th actions
  %tbody
  - @pows.each do |pow|
    -if pow.broken?
      %tr.broken
        %td.name= pow.name
        %td
          %span.round.alert.label Broken link
          %span.has-tip{'data-tooltip' => true, title: t('broken_link', link_path: "~/.pow/#{pow.name}")} ?
          
    - else
      %tr.pow
        %td.name= link_to pow.name, pow_path(pow.name)
        %td.actions
          =link_to 'Edit', pow_path(pow.name), class: 'small button'
          =link_to 'View', "http://#{pow.name}.dev/", target: 'blank', class: 'small secondary button'
